* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  height: 100vh;
}

.file-selection-area {
  display: flex;
  justify-content: center;
  align-items: center;

  border: #000000 solid 2px;
  border-radius: 20px;
  height: 200px;
  aspect-ratio: 3;
  cursor: pointer;
}

.input-file {
  display: none;
}

.file-selection-area p {
  font-size: 32px;
}

.images-wrapper {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}

.image-wrapper {
  position: relative;
}

.img {
  width: 200px;
  aspect-ratio: 1;
  object-fit: cover;
}

.delete-btn {
  width: 40px;
  aspect-ratio: 1;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  top: -20px;
  right: -20px;
}
